.content{
    width: 100%;
}
.container{
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.card{
    padding: 10px 10px 10px 10px;
    width: auto;
    align-items: center;
}

.avatar-img{
    width: 10%;
    border-radius: 50%;
}

.name-tag{
    padding: 10px 10px 10px 10px;
        align-self: center;
    width: 140px;
}
.loading{
    width: 10%;
}

@media (max-width: 540px) {
    
.loading{
    width: 50%;
}
    .avatar-img{
        width: auto;
        border-radius: 50%;
    }
    .container{
        display: flex; 
        flex-direction: row;
        justify-content: left;
    }

    .App-header {
        background-color: #343435;
        min-height: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
        margin-bottom: 2vh;
      }
}


.image-loading {
    opacity: 0;
    animation: fade-in 5s infinite;
  }
  
  @keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .image-loading {
    transition: transform 1s;
  }
  
  .image-loading:hover {
    transform: rotate(90deg);
  }